<ion-view title="Diseases prediction app" id="page1" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <form id="diseasesPredictionApp-form1" method="POST" ng-submit="predictDisease()" class="list" name="form" role="form">
      <label class="item item-input" id="diseasesPredictionApp-input2">
        <span class="input-label">ID:</span>
        <input type="text" placeholder="PA101" ng-model="data.pid" value="PA101" required="true">
      </label>
      <label class="item item-input" id="diseasesPredictionApp-input3">
        <span class="input-label">Date of birth:</span>
        <input type="date" placeholder="" ng-model="data.dob" required="true">
      </label>
      <label class="item item-input" id="diseasesPredictionApp-input6">
        <span class="input-label">Height (cm):</span>
        <input type="text" placeholder="160" ng-model="data.height" value="190" required="true">
      </label>
      <label class="item item-input" id="diseasesPredictionApp-input5">
        <span class="input-label">Waist circumference (cm):</span>
        <input type="text" placeholder="84" ng-model="data.wc" value="90" required="true">
      </label>
      <label class="item item-input" id="diseasesPredictionApp-input4">
        <span class="input-label">Hip circumference (cm):</span>
        <input type="text" placeholder="93" ng-model="data.hc" value="70" required="true">
      </label>
      <button id="diseasesPredictionApp-button1" class="button button-calm button-block">Get weight data</button>
      <ion-item class="item-divider" id="diseasesPredictionApp-list-item-divider1"> BLE weight sensor: CA:23:CA:A3:CD:26</ion-item>
      <label class="item item-input" id="diseasesPredictionApp-input7">
        <span class="input-label">Weight (kg):</span>
        <input type="text" placeholder="54" ng-model="data.weight" value="55" required="true">
      </label>
      <button ng-disabled="form.$invalid" type="submit" id="diseasesPredictionApp-button2" class="button button-positive button-block">Submit</button>
      <!-- <a ui-sref="diseasesPredictionApp2()" id="diseasesPredictionApp-button2" class="button button-positive button-block">Send</a> -->
    </form>
  </ion-content>
</ion-view>